<?xml version="1.0" encoding="UTF-8" ?>
<widget id="net.prontolabs.easymetro" version="0.0.1" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pronto EasyMetro</name>
    <description>
        An example for phonegap build docs. 
    </description>
    <author email="prontolabs@gmail.com" href="http://prontolabs.net">
        Pronto Labs - Henrique Feijo
    </author>
    <gap:platform name="android" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
</widget>
